@import '_setting.scss';

$appbar-bg-color: rgb(255, 0, 191);

  .narbar-app {
    padding-left: $gap;
    display: flex;
    align-items: center;
    background-color: $appbar-bg-color;
    font-size: 1.5rem;
  } 